/*
	A Mobile first flex grid system. 
*/
/* Global
================================ */
* {
	box-sizing: border-box;
}

.row {
	padding-left: 10px;
	padding-right: 10px;
	margin-left: auto;
	margin-right: auto;
}

img {
	width: 100%;
}

/* Media Queries
================================ */
/* Mobile View, Once below 767px */

@media (min-width: 1px) and (max-width: 767px) {
	.row > [class^="col-"] {
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.mobile-none {
		display: none;
	}
}


/* Anything Above Mobile View */

@media (min-width: 768px) {
	
	/* Columns 
	=========================================== */
	/* targets any class with col- inside the container */

	.row > [class^="col-"] {
		float: left;
		min-height: 1px; /* prevents collapsing */
		padding-left: 10px;
		padding-right: 10px;
		margin-left: 2%; /* left colum gutters */
	}	
		/* removes first colums left margin */
		.row > [class^="col-"]:first-child {
			margin-left: 0;
		}
		/* floats lat column to the right so its aligned to the right of the page */
		.row > [class^="col-"]:last-child {
			float: right;
		}

	/* Columns are 65px wide, with 20px gutters.  65px / 1000 * 100 = 1 col in %
	=========================================== */
	
	.col-1 {
		width: 6.5%;
	}
	.col-2 {
		width: 15%;
	}
	.col-3 {
		width: 23.5%;
	}
	.col-4 {
		width: 32%;
	}
	.col-5 {
		width: 40.5%;
	}
	.col-6 {
		width: 49%;
	}
	.col-7 {
		width: 57.5%;
	}
	.col-8 {
		width: 66%;
	}
	.col-9 {
		width: 74.5%;
	}
	.col-10 {
		width: 83%;
	}
	.col-11 {
		width: 91.5%;
	}
	.col-12 {
		width: 100%;
	}

	/* Clearfix
	================================ */
	/*
		.row::after prevents col floats from collapsing

	*/

	.group:after,
	.row::after {
	  content: " ";
	  display: table;
	  clear: both;
	}
}

/* To prevent stretching to wide*/
@media (min-width: 1200px) {
	.row {
		max-width: 1100px;
	}
}



